<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <h1 style="font-size: 2.4em; color: navy; margin-bottom: 25px;">My Vision</h1>
            <div class="vision-quote-container">
                <div class="vision-line"></div>
                <div class="vision-quote">
                    <strong>"사람이 힘든일을 하지 않는 그날까지"</strong>
                </div>
                <div class="vision-line"></div>
            </div>
            <br>
            <h1 style="font-size: 2.4em; color: navy; margin-bottom: 25px;">Welcome!</h1>
            <p class="paragraph-text justify-text">
                Hello, I'm <span style="color: rgb(99, 51, 230);"><strong>Junha Cha</strong></span>, a robotics developer dedicated to growing and contributing step by step toward the coming <strong><span style="color: navy;">"Age of Robots"</span></strong> and beyond to a world where robots handle all of humanity's tedious and challenging tasks. <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
            
            <h1 style="font-size: 2.4em; color: navy; margin-bottom: 25px; margin-top: 30px;">Info.</h1>
            <p class="paragraph-text justify-text">
                <strong>Education:</strong> 3rd year BS Undergraduate, Gachon University<br>
                <strong>Affiliation:</strong> Member of IRASC RAB (Intelligence Lab), Gachon University (2023 - Present)<br>
                <strong>Birth:</strong> December 11, 2002 (Age 22)<br>
                <strong>E-mail:</strong> ckwnsgk1@gachon.ac.kr | chajunha2023@naver.com<br>
                <strong>Phone:</strong> +82-10-3199-8292<br>
                <strong>Military Service:</strong> Sergeant, Republic of Korea Army (ROKA) (Jan, 2022 – Jul, 2023)
            </p>
        </div>
    </section>
</div>
