<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">YouTube Seminars</div>
            <div class="youtube-seminars-wrapper">
                <!-- YouTube 세미나 동영상 -->
                <div class="youtube-item">
                    <h3 class="youtube-title">딥러닝을 활용한 로봇 제어 기술</h3>
                    <div class="youtube-embed-container">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/qEvXuIWD-P8" title="딥러닝을 활용한 로봇 제어 기술" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p class="paragraph-text">2025년 4월 15일 - 로봇 제어에서의 딥러닝 적용 사례와 미래 전망에 대한 세미나</p>
                </div>
                
                <div class="youtube-item">
                    <h3 class="youtube-title">자율주행 기술의 최신 동향</h3>
                    <div class="youtube-embed-container">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/6hj89GjJGmw" title="자율주행 기술의 최신 동향" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p class="paragraph-text">2025년 3월 22일 - 자율주행 기술의 최신 동향과 도전 과제에 대한 세미나</p>
                </div>
                
                <div class="youtube-item">
                    <h3 class="youtube-title">로보틱스와 인공지능의 융합</h3>
                    <div class="youtube-embed-container">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/TBhXuZBnId0" title="로보틱스와 인공지능의 융합" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p class="paragraph-text">2025년 2월 10일 - 로보틱스와 인공지능 기술의 융합 방향성에 대한 토론</p>
                </div>
            </div>
        </div>
    </section>
</div>