<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">
                <i class="fab fa-youtube" style="color: #FF0000; margin-right: 10px;"></i>YouTube Seminars
                <div class="heading-underline" style="width: 70px; height: 3px; background-color: #FF0000; margin: 10px auto 0;"></div>
            </div>
            <p class="section-subheading" style="text-align: center; margin-bottom: 30px; color: #666;">최신 기술 트렌드에 대한 세미나와 강의를 소개합니다</p>
            <div class="youtube-seminars-wrapper-stack">
                <!-- YouTube 세미나 동영상 - 가로 배치, 세로 스택 -->
                <div class="youtube-item-horizontal">
                    <div class="youtube-content-wrapper">
                        <div class="youtube-thumbnail-horizontal">
                            <a href="https://www.youtube.com/watch?v=Z9TsNJTHkSI" target="_blank" class="youtube-thumbnail-link">
                                <div class="youtube-thumbnail">
                                    <img src="https://img.youtube.com/vi/Z9TsNJTHkSI/maxresdefault.jpg" alt="OpenVLA: An Open-Source Vision-Language-Action Model">
                                    <div class="play-button-overlay">
                                        <span>▶</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="youtube-info">
                            <h3 class="paragraph-text" style="color: #000000; font-weight: bold; margin-bottom: 8px;">OpenVLA: An Open-Source Vision-Language-Action Model</h3>
                            <div class="youtube-meta">
                                <p class="youtube-date"><i class="far fa-calendar-alt" style="margin-right: 5px; color: #FF0000;"></i> 2024년 3월 15일</p>
                                <p class="youtube-description">딥러닝을 활용한 비전-언어-액션 모델에 대한 세미나. 이 연구는 로봇 제어와 자율 에이전트를 위한 새로운 접근 방식을 제시합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="youtube-item-horizontal">
                    <div class="youtube-content-wrapper">
                        <div class="youtube-thumbnail-horizontal">
                            <a href="https://www.youtube.com/watch?v=Yg9wXwPAbCM" target="_blank" class="youtube-thumbnail-link">
                                <div class="youtube-thumbnail">
                                    <img src="https://img.youtube.com/vi/Yg9wXwPAbCM/maxresdefault.jpg" alt="PCTeacher: 3D Instance Segmentation">
                                    <div class="play-button-overlay">
                                        <span>▶</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="youtube-info">
                            <h3 class="paragraph-text" style="color: #000000; font-weight: bold; margin-bottom: 8px;">End-to-End Semi-Supervised 3D Instance Segmentation</h3>
                            <div class="youtube-meta">
                                <p class="youtube-date"><i class="far fa-calendar-alt" style="margin-right: 5px; color: #FF0000;"></i> 2024년 2월 22일</p>
                                <p class="youtube-description">3D 포인트 클라우드 데이터에서 반지도 학습을 통한 물체 분할 기법에 관한 세미나. PCTeacher 알고리즘을 활용한 혁신적 접근법을 소개합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="youtube-item-horizontal">
                    <div class="youtube-content-wrapper">
                        <div class="youtube-thumbnail-horizontal">
                            <a href="https://www.youtube.com/watch?v=Yg9wXwPAbCM" target="_blank" class="youtube-thumbnail-link">
                                <div class="youtube-thumbnail">
                                    <img src="https://img.youtube.com/vi/Yg9wXwPAbCM/maxresdefault.jpg" alt="PCTeacher: 3D Instance Segmentation">
                                    <div class="play-button-overlay">
                                        <span>▶</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="youtube-info">
                            <h3 class="paragraph-text" style="color: #000000; font-weight: bold; margin-bottom: 8px;">로봇 비전을 위한 최신 딥러닝 기법</h3>
                            <div class="youtube-meta">
                                <p class="youtube-date"><i class="far fa-calendar-alt" style="margin-right: 5px; color: #FF0000;"></i> 2024년 1월 10일</p>
                                <p class="youtube-description">로봇 비전 시스템에서 딥러닝을 활용한 이미지 인식과 3D 모델링 기법에 대한 최신 연구 동향을 소개합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>