<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                Thank you for visiting my page. I’m always happy to hear from you about contact or collaboration opportunities. Please feel free to email me with any details, and I’ll be glad to respond.
            </p>
            <p class="paragraph-text justify-text">
                My email : <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="LinkedIn">
                    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="head-icon fab fa-linkedin"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Twitter">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="head-icon fab fa-twitter"></i></a>
            </div>
        </div>
    </section>
</div>