<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text"><i class="fas fa-robot" style="color: #3498db; margin-right: 10px;"></i>Robotics Projects</div>
            
                <div class="project-technologies project-filter-buttons">
                    <a id="featured" class="semi-transparent-button with-border white-button project-filter-button" onclick="selected('featured')" style="color: black;"><i class="fas fa-star" style="margin-right: 5px; color: black;"></i>Featured</a>
                    <a id="toy_project" class="semi-transparent-button with-border white-button project-filter-button" onclick="selected('toy_project')"><i class="fas fa-puzzle-piece" style="margin-right: 5px;"></i>Toy_Project</a>
                    <a id="paper" class="semi-transparent-button with-border white-button project-filter-button" onclick="selected('paper')"><i class="fas fa-file-alt" style="margin-right: 5px;"></i>Paper</a>
                    <a id="challenge" class="semi-transparent-button with-border white-button project-filter-button" onclick="selected('challenge')"><i class="fas fa-trophy" style="margin-right: 5px;"></i>Challenge</a>
                    <a id="symposium" class="semi-transparent-button with-border white-button project-filter-button" onclick="selected('symposium')"><i class="fas fa-chalkboard-teacher" style="margin-right: 5px;"></i>Symposium</a>
                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>